{% extends "base.html" %} 

{% block title %}
<title>Pets</title>
{% endblock title %} 

{% block header %}
<h1>Pets list</h1>
{% endblock header %} 

{% block content %}
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  {% for pet in pets %}
  <tr>
    <th scope="row">
      <a href="{% url 'vet:pets_detail' pk=pet.id %}">
      {{ pet.id }}
      </a>
    </th>
    <td>{{ pet.name }}</td>
    <td>{{ pet.type }}</td>
    <td>
      <a href="{% url 'vet:pets_update' pk=pet.id %}">
          Update
      </a>
  </td>
  </tr>
  {% endfor %}
</table>

  <a type="button" class="btn btn-outline-primary" href="{% url 'vet:pets_create' %}">Add new</a>

{% endblock content %}
